
@import '../../variables.scss';
.card {
    width: 300px;
    height: 265px;
    margin: 50px;
    box-shadow: 4px 4px $black;
    .card-header {
        height: 50px;
        background-color: $green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .btn-group {
            button {
                background-color: transparent;
                border: none;
            }
        }
        .title {
            color: white;
            text-transform: capitalize;
        }
    }
    .card-content {
        img {
            width: 300px;
            height: 215px
        }
    }
}
