<div class="card-upsert">
    <div class="header">{{this.isEdit ? 'Modify card' : 'Add new card'}}</div>
    <div class="content">
        <input class="mb-20" type="text" placeholder="New vocabulary" name="vocabulary" [(ngModel)]="this.card.vocabulary">
        <input class="mb-20" type="text" placeholder="Meaning" name="meaning" [(ngModel)]="this.card.meaning">
        <label for="example_image">Image for this vocabulary</label>
        <input type="file" id="example_image" placeholder="example image">
    </div>
    <div class="footer">
        <button type="button" (click)="this.cancel()" class="btn btn-outline-dark mr-20">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="this.onSubmit()" >Submit</button>
    </div>
</div>